<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
               <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>"> 
               <div class="card-body mb-2">
                   <h5 class="float-right">$<%= campground.price %>/night</h5>
                   <h4 class="card-title"><a><%= campground.name %></a></h4>
                   <p>
                      <em>Submitted by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                   </p>
                   <hr>
                   <p class="card-text"><%= campground.description %></p>
                   <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                       <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                       <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                           <button class="btn btn-sm btn-danger">Delete</button>
                       </form>
                   <% } %>
               </div>
            </div>
            
             <!--Review section-->
            <div class="thumbnail">
                <div class="caption-full">
                    <% if (campground.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= campground.reviews.length %>)</em>
                    </p>
                    <p>
                        Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this campground:</h4></p>
                    <hr style="margin-top: 0;">
                    <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><a class="card-title" href="/users/<%= review.author.id %>"><%= review.author.username %></a></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p class="float-left" style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <div style="display: flex" class="float-right">  
                                <a class="btn btn-sm btn-warning"
                                   href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
                                <span style="margin-left: 5px"></span>
                                <form id="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div class="mb-3">
                        <a class="btn btn-primary btn-lg <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>

            <!--COMMENT SECTION START-->
            <div class="card">
                <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-sm btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                    <i class="fas fa-plus"></i> Add New Comment</a>
                </div>
                <!--Comment section title-->
                  <h4><strong>Comments <i class="fas fa-comments"></i></strong></h4>
                <hr>
                
                <!--Collapse Add a comment form START-->
                <div class="collapse mb-2" id="collapseComment">
                    <div class="card" style="border-left: 5px solid #00C851;">
                        <% if(!currentUser) { %>
                      <!--If the user is not logged in, direct him to the login page-->
                      <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
                        <% } %>
                      <% if(currentUser) { %>
                          <!--If the user is logged in, show the new comment form-->
                            <div class="mt-3 ml-3 mr-3">
                              <h4>Write your comment <i class="fas fa-pencil-alt"></i></h4>
                              <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                <div class="form-group">
                                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                                </div>
                                <div class="form-group">
                                  <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                                </div>
                                <div class="form-group">
                                  <button class="btn btn-success btn-sm">Comment <i class="fas fa-comment"></i></button>
                                </div>
                              </form>
                             </div> 
                        <% } %>
                    </div>
                    <hr>
                  </div>
                  <!--Collapse Add a comment form END-->
                  
                
                <!--Check if there are comments, if there are none say no comments.-->
                <% if (campground.comments.length === 0) { %>
                    <div class="mb-3">
                        <em style="color: grey;">No comments yet.</em>
                    </div>
                <% } %>
                
                <!--Display comments by looping through them-->
                <div class="row">
                <% campground.comments.forEach(function(comment){ %>
                        <div class="col-md-12 mb-2">
                            <div class="card">
                                <div class="card-body mb-2">
                                    <div class="align-top mb-2">
                                            <strong>
                                              <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                                            <!--If the current user owns the comment, change the color of the user icon-->
                                            <i style="color:orange" class="fas fa-user"></i>
                                              <% } else { %>
                                            <!--Else just display it black-->
                                            <i class="fas fa-user"></i>
                                              <% } %>
                                            <!--Print out the author username-->
                                              <strong><a class="card-title" href="/users/<%= comment.author.id %>"><%= comment.author.username %></a></strong>
                                          </strong>
                                          
                                          <!--Show when the comment was made-->
                                          <p class="float-right"><%= moment(comment.createdAt).fromNow() %></p>   
                                        
                                        <!--Printing the comment-->
                                        <p class="card-text"><%= comment.text %></p>
                                    </div>
                                    
                                    
                                    <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                        <div>
                                            <!--Edit button used for collapsing the edit comment form-->
                                            <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>
                                            
                                            <!--Delete comment button-->
                                            <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" class="delete-form" method="POST">
                                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                            </form>
                                        </div>
                                        
                                        <!--Edit comment form-->
                                          <div class="card collapse mb-2" style="border-left: 5px solid #ffbb33; margin-top: 15px;" id="collapseEdit<%= comment._id %>">
                                                <div class="mt-3 ml-3 mr-3">
                                                  <h4>Edit your comment <i class="fas fa-pencil-alt"></i></h4>
                                                  <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                                    <div class="form-group">
                                                      <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                                                    </div>
                                                    <div class="form-group">
                                                      <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                      <button class="btn btn-warning btn-sm">Edit comment <i class="fas fa-comment"></i></button>
                                                    </div>
                                                  </form>
                                                 </div>
                                          </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
      function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
          <strong><%= campground.name %><br />
          <%= campground.location %></strong>
          <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVM9_gL0jLIxemlajt67Ze7smGCWFPhpY&callback=initMap"></script>

<% include ../partials/footer %>